root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{go,ts,vue}]
indent_style = tab
indent_size = 2

[*.{yaml,yml,json,sql}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
