openapi: 3.0.3
info:
  title: PicFast
  version: "1.0"
  description: Image hosting service API
  x-mcp-endpoint: /mcp
  x-mcp-transport: streamable-http
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.html

servers:
  - url: https://picfast.pbeta.me/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

security: []

paths:
  /config:
    get:
      tags: [system]
      summary: Get public site configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PublicConfigResponse"

  /version:
    get:
      tags: [system]
      summary: Get application version
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/VersionResponse"

  /setup/status:
    get:
      tags: [setup]
      summary: Check whether first-run setup is required
      description: Returns whether the instance has no users and must create its first administrator.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SetupStatusResponse"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /setup/admin:
    post:
      tags: [setup]
      summary: Create the first administrator
      description: Public only while the instance has no users. Returns 409 after setup has completed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetupAdminRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/login:
    post:
      tags: [auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/verify-email:
    post:
      tags: [auth]
      summary: Verify email by token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/BadRequest"

  /auth/resend-verification:
    post:
      tags: [auth]
      summary: Resend verification email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendVerificationRequest"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    post:
      tags: [auth]
      summary: Logout
      security:
        - BearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/me:
    get:
      tags: [users]
      summary: Get current user profile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [users]
      summary: Update current user profile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileUpdateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /images:
    get:
      tags: [images]
      summary: List user images
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedImages"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [images]
      summary: Upload an image
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ImageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /upload:
    post:
      tags: [images]
      summary: Upload an image (guest)
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ImageResponse"

  /images/{key}:
    get:
      tags: [images]
      summary: Get image detail
      parameters:
        - $ref: "#/components/parameters/ImageKeyParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ImageResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [images]
      summary: Delete image
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ImageKeyParam"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    patch:
      tags: [images]
      summary: Update image (permission, album)
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ImageKeyParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImageRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ImageResponse"

  /albums:
    get:
      tags: [albums]
      summary: List user albums
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedAlbums"
    post:
      tags: [albums]
      summary: Create album
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAlbumRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AlbumResponse"

  /albums/{id}:
    put:
      tags: [albums]
      summary: Update album
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAlbumRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AlbumUpdateResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
    delete:
      tags: [albums]
      summary: Delete album
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "403":
          $ref: "#/components/responses/Forbidden"

  /strategies:
    get:
      tags: [strategies]
      summary: List available strategies
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StrategyListResponse"

  /admin/users:
    get:
      tags: [admin]
      summary: List all users
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedAdminUsers"

  /admin/users/{id}:
    get:
      tags: [admin]
      summary: Get user detail
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [admin]
      summary: Update user
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
    delete:
      tags: [admin]
      summary: Delete user
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /api-tokens:
    get:
      tags: [api-tokens]
      summary: List API tokens for current user
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/APITokenItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [api-tokens]
      summary: Create an API token
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPITokenRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/APITokenItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api-tokens/{id}:
    delete:
      tags: [api-tokens]
      summary: Delete an API token
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /sharex/upload:
    post:
      tags: [sharex]
      summary: Upload image for ShareX clients
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareXUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /sharex/config:
    get:
      tags: [sharex]
      summary: Download ShareX .sxcu config
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareXConfigResponse"

  /flat/upload:
    post:
      tags: [flat]
      summary: Flat-format upload for third-party clients
      description: |
        Multipart upload endpoint that returns a flat JSON with url, thumbnail_url, markdown, bbcode, and html fields.
        Compatible with PicGo/PicList (web-uploader plugin), uPic (custom host), Dropshare (Custom API), and any client that accepts a simple URL response.
        Supports optional authentication via Bearer token or X-API-Token header.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlatUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /admin/groups:
    get:
      tags: [admin]
      summary: List groups
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
    post:
      tags: [admin]
      summary: Create group
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupRequest"
      responses:
        "201":
          description: Created

  /admin/groups/{id}:
    get:
      tags: [admin]
      summary: Get group detail
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
    put:
      tags: [admin]
      summary: Update group
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupRequest"
      responses:
        "200":
          description: OK
    delete:
      tags: [admin]
      summary: Delete group
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /admin/groups/{id}/strategies:
    put:
      tags: [admin]
      summary: Set group strategies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [strategy_ids]
              properties:
                strategy_ids:
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /admin/strategies:
    get:
      tags: [admin]
      summary: List strategies
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
    post:
      tags: [admin]
      summary: Create strategy
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStrategyRequest"
      responses:
        "201":
          description: Created

  /admin/strategies/{id}:
    get:
      tags: [admin]
      summary: Get strategy
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
    put:
      tags: [admin]
      summary: Update strategy
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
    delete:
      tags: [admin]
      summary: Delete strategy
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /admin/strategies/health:
    get:
      tags: [admin]
      summary: Check strategy health status
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StrategyHealthItem"

  /admin/images:
    get:
      tags: [admin]
      summary: List all images
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: OK

  /admin/images/{id}:
    delete:
      tags: [admin]
      summary: Delete image
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /admin/moderation/pending:
    get:
      tags: [admin]
      summary: List pending moderation items
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ModerationItem"

  /admin/moderation/{id}/approve:
    post:
      tags: [admin]
      summary: Approve a moderation item
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /admin/moderation/{id}/reject:
    post:
      tags: [admin]
      summary: Reject a moderation item
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/OK"

  /admin/settings:
    get:
      tags: [admin]
      summary: Get settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SettingsResponse"
    put:
      tags: [admin]
      summary: Update settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSettingsRequest"
      responses:
        "200":
          description: OK

  /admin/audit-logs:
    get:
      tags: [admin]
      summary: List audit logs
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: action
          in: query
          schema:
            type: string
        - name: resource_type
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedAuditLogs"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/observability/summary:
    get:
      tags: [admin]
      summary: Get observability summary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ObservabilitySummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    PageSizeParam:
      name: page_size
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
    ImageKeyParam:
      name: key
      in: path
      required: true
      schema:
        type: string

  responses:
    OK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SuccessResponse"
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    SuccessResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        status:
          type: boolean
          example: false
        message:
          type: string
        data:
          type: object

    PaginatedData:
      type: object
      properties:
        items:
          type: array
          items: {}
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        total_pages:
          type: integer
          format: int32

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          format: int64
        token_type:
          type: string
          example: Bearer

    SetupStatusResponse:
      type: object
      properties:
        required:
          type: boolean
          description: True when the instance has no users and must create the first administrator.

    SetupAdminRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 72
        name:
          type: string

    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        name:
          type: string

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
        password:
          type: string

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string

    ResendVerificationRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ImageLinks:
      type: object
      properties:
        url:
          type: string
        html:
          type: string
        bbcode:
          type: string
        markdown:
          type: string
        thumbnail_url:
          type: string

    ImageResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        key:
          type: string
        origin_name:
          type: string
        size_bytes:
          type: integer
          format: int64
        mimetype:
          type: string
        extension:
          type: string
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        md5:
          type: string
        sha1:
          type: string
        permission:
          type: integer
          format: int16
        album_id:
          type: integer
          format: int64
          nullable: true
        links:
          $ref: "#/components/schemas/ImageLinks"
        created_at:
          type: string
          format: date-time

    ImageListItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        key:
          type: string
        origin_name:
          type: string
        size_bytes:
          type: integer
          format: int64
        mimetype:
          type: string
        extension:
          type: string
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        permission:
          type: integer
        album_id:
          type: integer
          format: int64
          nullable: true
        url:
          type: string
        thumbnail_url:
          type: string
        links:
          $ref: "#/components/schemas/ImageLinks"
        created_at:
          type: string
          format: date-time

    PaginatedImages:
      allOf:
        - $ref: "#/components/schemas/PaginatedData"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ImageListItem"

    UploadRequest:
      type: object
      required: [file]
      properties:
        file:
          type: string
          format: binary
        strategy_id:
          type: integer
          format: int64
        album_id:
          type: integer
          format: int64
        permission:
          type: integer
          description: 'Image visibility. 0 = private, 1 = public.'
          enum: [0, 1]

    UpdateImageRequest:
      type: object
      properties:
        album_id:
          type: integer
          format: int64
        permission:
          type: integer
          description: 'Image visibility. 0 = private, 1 = public.'
          enum: [0, 1]

    AlbumResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        intro:
          type: string
        image_num:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time

    AlbumUpdateResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        intro:
          type: string
        image_num:
          type: integer
          format: int64
        updated_at:
          type: string
          format: date-time

    PaginatedAlbums:
      allOf:
        - $ref: "#/components/schemas/PaginatedData"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/AlbumResponse"

    CreateAlbumRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        intro:
          type: string

    UpdateAlbumRequest:
      type: object
      properties:
        name:
          type: string
        intro:
          type: string

    UserProfileResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        name:
          type: string
        role:
          type: string
          description: User role.
          enum: [admin, user]
        status:
          type: integer
          description: 'User status. 0 = frozen, 1 = active.'
          enum: [0, 1]
        capacity_bytes:
          type: integer
          format: int64
        used_bytes:
          type: integer
          format: int64
        image_num:
          type: integer
          format: int64
        album_num:
          type: integer
          format: int64
        settings:
          type: object
        email_verified:
          type: boolean
        created_at:
          type: string
          format: date-time

    UserProfileUpdateResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        name:
          type: string
        settings:
          type: object
        updated_at:
          type: string
          format: date-time

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
          minLength: 8
        settings:
          type: object

    AdminUserResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        name:
          type: string
        role:
          type: string
          description: User role.
          enum: [admin, user]
        group_id:
          type: integer
          format: int64
          nullable: true
        capacity_bytes:
          type: integer
          format: int64
        image_num:
          type: integer
          format: int64
        album_num:
          type: integer
          format: int64
        status:
          type: integer
          description: 'User status. 0 = frozen, 1 = active.'
          enum: [0, 1]
        email_verified:
          type: boolean
        settings:
          type: object
        created_at:
          type: string
          format: date-time

    PaginatedAdminUsers:
      allOf:
        - $ref: "#/components/schemas/PaginatedData"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/AdminUserResponse"

    AdminGroupResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        is_default:
          type: boolean
        is_guest:
          type: boolean
        configs:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateGroupRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        is_default:
          type: boolean
        is_guest:
          type: boolean
        configs:
          type: object

    UpdateGroupRequest:
      type: object
      properties:
        name:
          type: string
        is_default:
          type: boolean
        is_guest:
          type: boolean
        configs:
          type: object

    AdminStrategyResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        strategy_type:
          type: string
          enum: [local, s3, kodo, oss, cos, webdav]
        configs:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateStrategyRequest:
      type: object
      required: [name, strategy_type, configs]
      properties:
        name:
          type: string
        strategy_type:
          type: string
          enum: [local, s3, kodo, oss, cos, webdav]
        configs:
          type: object

    StrategyListResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/AdminStrategyResponse"

    SettingsResponse:
      type: object
      properties:
        app_name:
          type: string
        app_url:
          type: string
        site_description:
          type: string
        favicon_url:
          type: string
        allow_guest_upload:
          type: boolean
        allow_registration:
          type: boolean
        require_email_verification:
          type: boolean
        email_verification_ready:
          type: boolean
        user_initial_capacity:
          type: integer
          format: int64
        default_image_ttl:
          type: string
          description: 'Go duration format. Empty means never expires. Examples: 24h, 720h.'
          example: 24h
        moderation_mode:
          type: string
          description: Moderation pipeline mode.
          enum: ["", disabled, manual, auto]
        footer_text_1:
          type: string
          description: First footer line text. Omitted in UI when empty.
        footer_link_1:
          type: string
          description: Optional https URL for the first line. Empty means plain text.
        footer_text_2:
          type: string
          description: Second footer line text. Omitted in UI when empty.
        footer_link_2:
          type: string
          description: Optional https URL for the second line. Empty means plain text.
        analytics_provider:
          type: string
        analytics_config:
          type: object
          additionalProperties: true

    PublicConfigResponse:
      type: object
      properties:
        app_name:
          type: string
        site_description:
          type: string
        favicon_url:
          type: string
        allow_guest_upload:
          type: boolean
        allow_registration:
          type: boolean
        require_email_verification:
          type: boolean
        base_url:
          type: string
        footer_text_1:
          type: string
          description: First footer line text. Omitted in UI when empty.
        footer_link_1:
          type: string
          description: Optional https URL for the first line. Empty means plain text.
        footer_text_2:
          type: string
          description: Second footer line text. Omitted in UI when empty.
        footer_link_2:
          type: string
          description: Optional https URL for the second line. Empty means plain text.
        analytics_provider:
          type: string
        analytics_config:
          type: object
          additionalProperties: true
        setup_required:
          type: boolean
          description: True when the instance has no users and must complete first-run setup.

    VersionResponse:
      type: object
      properties:
        version:
          type: string
        commit:
          type: string
        build_time:
          type: string
        github_url:
          type: string

    StrategyHealthItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
        healthy:
          type: boolean
        error:
          type: string

    ModerationItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        image_id:
          type: integer
          format: int64
        status:
          type: integer
        reason:
          type: string
        created_at:
          type: string
          format: date-time

    UpdateSettingsRequest:
      type: object
      properties:
        app_name:
          type: string
        app_url:
          type: string
        site_description:
          type: string
        favicon_url:
          type: string
        allow_guest_upload:
          type: boolean
        allow_registration:
          type: boolean
        require_email_verification:
          type: boolean
        user_initial_capacity:
          type: integer
          format: int64
        default_image_ttl:
          type: string
          description: 'Go duration format. Empty means never expires. Examples: 24h, 720h.'
          example: 24h
        moderation_mode:
          type: string
          description: Moderation pipeline mode.
          enum: ["", disabled, manual, auto]
        footer_text_1:
          type: string
        footer_link_1:
          type: string
          description: When set, must be http or https.
        footer_text_2:
          type: string
        footer_link_2:
          type: string
          description: When set, must be http or https.
        analytics_provider:
          type: string
          enum: ["", plausible, umami, ga4, baidu, custom]
        analytics_config:
          type: object
          additionalProperties: true

    APITokenItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        token:
          type: string
          description: Returned only on creation.
        scopes:
          type: array
          description: 'Token scopes. read = list/get/stats and resources. write = upload/delete.'
          items:
            type: string
            enum: [read, write]
        last_used_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CreateAPITokenRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        expires_in:
          type: string
          description: 'Examples: 30d, 90d, 1y, 24h, never.'
        scopes:
          type: array
          description: 'Token scopes. read = list/get/stats and resources. write = upload/delete.'
          items:
            type: string
            enum: [read, write]

    ShareXUploadResponse:
      type: object
      properties:
        url:
          type: string
        thumbnail_url:
          type: string
        deletion_url:
          type: string

    FlatUploadResponse:
      type: object
      properties:
        url:
          type: string
          description: Direct image URL
        thumbnail_url:
          type: string
          description: Thumbnail image URL
        markdown:
          type: string
          description: Markdown-formatted image embed
        bbcode:
          type: string
          description: BBCode-formatted image embed
        html:
          type: string
          description: HTML image tag

    ShareXConfigResponse:
      type: object
      properties:
        Version:
          type: string
        Name:
          type: string
        DestinationType:
          type: string
        RequestMethod:
          type: string
        RequestURL:
          type: string
        Headers:
          type: object
          additionalProperties:
            type: string
        Body:
          type: string
        FileFormName:
          type: string
        URL:
          type: string
        ThumbnailURL:
          type: string

    AuditLogItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        actor_user_id:
          type: integer
          format: int64
          nullable: true
        actor_email:
          type: string
          nullable: true
        action:
          type: string
        resource_type:
          type: string
        resource_id:
          type: string
        resource_name:
          type: string
        details:
          type: object
          additionalProperties: true
        ip:
          type: string
        user_agent:
          type: string
        created_at:
          type: string
          format: date-time

    PaginatedAuditLogs:
      allOf:
        - $ref: "#/components/schemas/PaginatedData"
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/AuditLogItem"

    ObservabilitySummary:
      type: object
      properties:
        generated_at:
          type: string
          format: date-time
        uptime_seconds:
          type: integer
          format: int64
        health:
          type: object
          additionalProperties: true
        runtime:
          type: object
          additionalProperties: true
        database:
          type: object
          additionalProperties: true
        usage:
          type: object
          additionalProperties: true
        storage_strategies:
          type: array
          items:
            type: object
            additionalProperties: true
        config:
          type: object
          additionalProperties: true
